<h3>Bem vindo, você está em um component</h3>


@if(mostrarTitulo){
    <h4>Título dinamicamente adicionado, aqui o {{ nome }} é o usuário ativo.</h4>
}

<p>clique no botão:</p>

<button (click)="submit()">botão</button>

<table>
    <thead>
        <th>id</th>
        <th>Forma de Pagamento</th>
    </thead>
    <tbody>
        @for(item of lista; track item.id){
            <div>
                <td>{{ item.id }}</td>
                <td>{{ item.nome}}</td>
            </div>
        }
    </tbody>
</table>